
 

  <div class="overflow-x-auto relative bg-white space-y-4 p-4 sm:px-8 sm:py-6 lg:p-4 xl:px-8 xl:py-6">



<% unless current_page?(root_path) %>
  
  <span class="text-base text-purple-500 font-bold">&laquo;</span> 
  <a href="#" onClick="history.back()" class="text-base md:text-sm text-purple-500 font-bold no-underline hover:underline">Back Link</a>

<% end %>

        
<!--Title-->
<div class="font-sans">
   <h1 class="font-sans break-normal text-gray-900 pt-6 pb-2 text-xl"><%= @affiliation.name %></h1>
   <hr class="border-b border-gray-400">
</div>
<!--Post Content-->

<% if user_signed_in? %>
    <%= render @affiliation %>
<% else %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">You need to Login to see the magic.</p>
<% end %>

<!--/ Post Content-->



</div>
